body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

hr {
  opacity: 0.8;
}

.header-nav > a {
  margin: 0 12px;
}

.user-avatar {
  width: 72px;
}
